streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-openai
openai
langchain-huggingface==0.0.3
PyPDF2
requests
faiss-cpu
sentence-transformers
transformers
python-pptx
python-docx
torch
torchvision
